/* Hi there! Glad to see that you're taking a closer look! My website is pure HTML & CSS, and was very simply put together by following the guide below:
  
    https://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html 

  For how I registered an email address against my domain using AWS, see this guide here:

    https://docs.aws.amazon.com/workmail/latest/adminguide/add_domain.html */

body {
  background-color: #f7f7f7;
}

ul {
  margin: 0;
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.red-square {
  background-color: #f05b53;
  width: 50%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.red-square::before {
  content: ",.";
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  z-index: 20;
  font-size: 80px;
  top: -15px;
  margin: -40 20 0 -120;
}
.red-square::before {
  content: url(personal-computer_1f4bb.png);
}
.shadow {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
}
.copy {
  margin: 30 70 40 80;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-justify: inter-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 950px) {
  .red-square {
    width: 70%;
  }
  .red-square::before {
    content: ",.";
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    z-index: 20;
    position: absolute;
    top: -50%;
    left: 50%;
    margin: 0 0 0 -80;
  }
  .red-square::before {
    content: url(personal-computer_1f4bb.png);
  }
}

@media only screen and (max-width: 700px) {
  .red-square {
    background-color: #f05b53;
    width: 95%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
  .copy {
    margin: 30 20 30 20;
  }
}

@media only screen and (max-width: 550px) {
  .red-square::before {
    top: -45%;
  }
}
